@import "layouts/application";
@import "components/basics/paragraph";
@import "components/button";
@import "components/card";

$button-corner-radius: 0px;

@include paragraph;
@include button;
@include card;
@include application-layout;

@mixin extra-styles {
  span.badge {
    background-color: orange;
  }
}

h1 {
  font-size: 20px;
}
